{% extends "nav.html" %}
{% load static %}
{% block information %}
    active
{% endblock %}
{% block information_user %}
    active
{% endblock %}
{% block information_user_help %}
    active
{% endblock %}
{% block title %}
    帮助 - IMUSTCTF
{% endblock %}
{% block main %}

    <!--帮助的容器显示-->
    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h3>帮助</h3>
            </div>
        </div>
    </div>
    <!--帮助的容器显示结束-->

    <!--帮助列表-->
    <div class="faq-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>常见问题</h2>
                <p class="margin-auto">您在使用过程中会遇到的一些问题：</p>
            </div>
            <div class="row pt-45">

                <!--左边显示的div-->
                <div class="col-lg-6">
                    <div class="faq-content">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>忘记密码怎么办？ </a>
                                    <div class="accordion-content">
                                        <p>目前网站还未开发忘记密码找回的功能，请联系QQ：3390205563修改密码</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>网站手机端适配不好怎么办？ </a>
                                    <div class="accordion-content">
                                        <p>IMUSTCTF完全适配于PC端，手机端显示的优化请耐心等待开发人员优化哦</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>福利</a>
                                    <div class="accordion-content">
                                        <p>敬请期待</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="/game/bear/"
                                                              target="_blank"><i
                                        class='bx bx-plus'></i>做题做累了，想要玩一会游戏怎么办？</a>
                                    <div class="accordion-content">
                                        <p></p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>想学编程，有没有推荐的学编程的网站</a>
                                    <div class="accordion-content">
                                        <p>【菜鸟教程】<br>https://www.runoob.com/</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>有没有推荐的Mysql高级的课程资源</a>
                                    <div class="accordion-content">
                                        <p>【尚硅谷Mysql高级课程】<br>https://www.bilibili.com/video/BV1KW411u7vy?spm_id_from=333.999.header_right.fav_list.click
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>我想要成为网站开发者</a>
                                    <div class="accordion-content">
                                        <p>请投递pdf简历到邮箱<br>3390205563@qq.com
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--左边显示的div结束-->

                <!--右边显示的div-->
                <div class="col-lg-6">
                    <div class="faq-content">
                        <div class="faq-accordion">
                            <ul class="accordion">
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>我发现题目可能有问题，flag总是提交不对，我该怎么做？ </a>
                                    <div class="accordion-content">
                                        <p>请把问题写入反馈信息哦~，或者发送到邮箱3390205563@qq.com，我们会认真核实的！如果情况属实，我们保证打死出题人🤬🤬🤬</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>可以提供一些CTF解题工具吗？</a>
                                    <div class="accordion-content">
                                        <p>请在网站板块 - 军火库里下载哦</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>军火库我要下载的软件需要密码，怎么办？</a>
                                    <div class="accordion-content">
                                        <p>需要密码下载的软件属于高危软件，请联系QQ：241900086或QQ：3390205563进行身份核实，索取密码哦</p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>有没有推荐的渗透测试课程学习</a>
                                    <div class="accordion-content">
                                        <p>【小迪安全渗透测试全套课程】<br>https://www.bilibili.com/video/BV1JZ4y1c7ro?spm_id_from=333.999.0.0
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>有没有推荐的JAVA学习路线</a>
                                    <div class="accordion-content">
                                        <p>【狂神说JAVA】<br>https://space.bilibili.com/95256449/channel/seriesdetail?sid=393820
                                        </p>
                                    </div>
                                </li>
                                <li class="accordion-item"><a class="accordion-title" href="javascript:void(0)"><i
                                        class='bx bx-plus'></i>学习计算机基础课，有什么推荐的资源吗？</a>
                                    <div class="accordion-content">
                                        <p>【王道考研·计算机组成原理】<br>https://www.bilibili.com/video/BV1BE411D7ii?spm_id_from=333.999.header_right.fav_list.click
                                        </p>
                                        <p>【王道考研·操作系统】<br>https://www.bilibili.com/video/BV1YE411D7nH?spm_id_from=333.999.0.0
                                        </p>
                                        <p>【王道考研·计算机网络】<br>https://www.bilibili.com/video/BV19E411D78Q?spm_id_from=333.999.0.0
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--右边显示的div结束-->
            </div>
        </div>
    </div>
    <!--帮助列表结束-->

{% endblock %}

