{% extends "nav.html" %}

{% load static %}
{% block practice %}
active
{% endblock %}
{% block practice_misc %}
active
{% endblock %}
{% block title %}
    Misc - IMUSTCTF
{% endblock %}
{% block main %}
    <!--头部Misc展示-->
    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h3>Misc 练习</h3>
            </div>
        </div>
    </div>
    <!--头部Misc展示结束-->

    <!--题目列表-->
    <section class="services-style-area pt-100 pb-70">
        <div class="container">
            <div class="row pt-45">
                {% for question in questionList %}
                    {% if question.1 in acList %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="services-card services-style-bg" style="background: pink;">
                                <h3><a href="/subflag/?id={{ question.0 }}" target="_blank">{{ question.1 }}</a></h3>
                                <a href="/subflag/?id={{ question.0 }}" style="color: #444;"
                                   target="_blank">{{ question.2 }}</a><br>
                                <a href="/subflag/?id={{ question.0 }}" class="learn-btn" target="_blank">提交flag <i
                                        class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="services-card services-style-bg">
                                <h3><a href="/subflag/?id={{ question.0 }}" target="_blank">{{ question.1 }}</a></h3>
                                <a href="/subflag/?id={{ question.0 }}" style="color: #444;"
                                   target="_blank">{{ question.2 }}</a><br>
                                <a href="/subflag/?id={{ question.0 }}" class="learn-btn" target="_blank">提交flag <i
                                        class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <!--分页-->
                <div class="col-lg-12 col-md-12 text-center">
                    <div class="pagination-area">
                        <a href="#" class="prev page-numbers"><i class='bx bx-left-arrow-alt'></i></a>
                        <span class="page-numbers current" aria-current="page">1</span>
                        <a href="#" class="page-numbers">2</a>
                        <a href="#" class="page-numbers">3</a>
                        <a href="#" class="next page-numbers"><i class='bx bx-right-arrow-alt'></i></a>
                    </div>
                </div>
                <!--分页结束-->

            </div>
        </div>
    </section>
    <!--题目列表结束-->

{% endblock %}