{% extends "nav.html" %}
{% load static %}

{% block information %}
    active
{% endblock %}

{% block information_rank %}
    active
{% endblock %}

{% block title %}
    排行榜 - IMUSTCTF
{% endblock %}

{% block csslist %}
    <link id="theme-style" rel="stylesheet" href="{% static 'ranking/css/portal.css' %}">
{% endblock %}



{% block main %}
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl" style="margin-left: -160px;">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Ranking</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form class="table-search-form row gx-1 align-items-center">
                                        <div class="col-auto">
                                            <!--搜索🔍-->
                                            <input type="text" id="search-orders" name="searchorders"
                                                   class="form-control search-orders" placeholder="Search">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn app-btn-secondary">搜索</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-auto"><a class="btn app-btn-secondary" href="/video/vedios/">
                                    去学习 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav id="orders-table-tab"
                     class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab"
                       href="#" role="tab" aria-controls="orders-all" aria-selected="true">总imc值评估
                    </a>
                    <a
                            class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab"
                            href="#" role="tab" aria-controls="orders-paid" aria-selected="false">答题数量排名
                    </a>
                    <a
                            class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab"
                            href="#" role="tab" aria-controls="orders-pending" aria-selected="false">成就数量排名</a>
                    <a
                            class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab"
                            href="#" role="tab" aria-controls="orders-cancelled"
                            aria-selected="false">竞赛综合排名
                    </a>
                </nav>
                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                         aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                        <tr>
                                            <th class="cell">序号</th>
                                            <th class="cell">用户名</th>
                                            <th class="cell">大名</th>
                                            <th class="cell">团队</th>
                                            <th class="cell">擅长</th>
                                            <th class="cell">段位</th>
                                            <th class="cell">imc</th>
                                            <th class="cell"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for auth in infoList %}
                                            <tr>
                                                <td class="cell">{{ forloop.counter }}</td>
                                                <!--auth.1是用户的用户名-->
                                                <td class="cell"><span class="truncate">{{ auth.1 }}</span></td>
                                                <!--auth.2 用户姓名-->
                                                <td class="cell">{{ auth.3 }}</td>
                                                <td class="cell">未加入</td>
                                                <!--auth.3 用户擅长科目-->
                                                <td class="cell">{{ auth.4 }}</td>
                                                <td class="cell"><span class="badge bg-secondary">青铜</span></td>
                                                <td class="cell">{{ auth.2 }}</td>
                                                <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <nav class="app-pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                                                                  aria-disabled="true">首页</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

