<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ username }}的个人主页</title>
    <link rel="shortcut icon" href="http://101.42.155.61/static/logo.png">
    <!--网站logo图片 -->
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'persons/css/front1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'persons/css/front2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'persons/css/plugins.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'persons/css/style.css' %}"/>
</head>
<body>
<div class="arlo_tm_wrapper_all">
    <div class="arlo_tm_content">
        <div class="">
            <div class="">
                <!--HELLO-->
                <div class="arlo_tm_section" id="home">
                    <div class="arlo_tm_hero_header_wrap">
                        <div class="arlo_tm_universal_box_wrap">
                            <div class="bg_wrap">
                                <div class="overlay_image hero jarallax" data-speed="0.1"></div>
                                <div class="overlay_color hero"></div>
                            </div>
                            <div class="content hero">
                                <div class="inner_content">
                                    <div class="image_wrap">
                                        <img src="http://101.42.155.61/userInfo/header/{{ U_id }}.jpg" alt="">
                                    </div>
                                    <div class="name_holder">
                                        <h3>{{ username }}</h3>
                                    </div>
                                    <div class="text_typing">
                                        <p>第 {{ U_id }} 个加入IMUSTCTF</p>
                                    </div>
                                </div>
                            </div>
                            <div class="arlo_tm_arrow_wrap bounce anchor">
                                <a href="#about"><i class="xcon-angle-double-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--HELLO结束-->

                <!-- 基本信息 -->
                <div class="arlo_tm_section relative" id="about">
                    <div class="arlo_tm_about_wrapper_all">
                        <div class="container">
                            <div class="arlo_tm_title_holder">
                                <h3>基本信息</h3>
                            </div>
                            <div class="arlo_tm_about_wrap">
                                <div class="author_wrap">
                                    <div class="leftbox">
                                        <div class="about_image_wrap parallax" data-relative-input="true">
                                            <div class="image layer" data-depth="0.1">
                                                <img src="{% static 'persons/img/about/550x640.jpg' %}" alt=""/>
                                                <div class="inner"
                                                     data-img-url="http://101.42.155.61/userInfo/header/{{ U_id }}.jpg"></div>
                                            </div>
                                            <div class="border layer" data-depth="0.2">
                                                <img src="{% static 'persons/img/about/550x640.jpg' %}" alt=""/>
                                                <div class="inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rightbox">
                                        <div class="arlo_tm_mini_title_holder">
                                            <h4>{{ username }}</h4>
                                        </div>
                                        <div class="definition">
                                            <p>{{ perdes }}</p>
                                        </div>
                                        <div class="about_short_contact_wrap">
                                            <ul>
                                                <li>
                                                    <span><label>姓名：</label> {{ name }}</span>
                                                </li>
                                                <li>
                                                    <span><label>生日：</label> {{ birthday }}</span>
                                                </li>
                                                <li>
                                                    <span><label>电话：</label> {{ phone }}</span>
                                                </li>
                                                <li>
                                                    <span><label>地址：</label> {{ address }}</span>
                                                </li>
                                                <li>
                                                    <span><label>学校：</label> {{ school }}</span>
                                                </li>
                                                <li>
                                                    <span><label>专业：</label> {{ major }}</span>
                                                </li>
                                                <li>
                                                    <span><label>学号：</label> {{ grade }}</span>
                                                </li>
                                                <li>
                                                    <span><label>擅长：</label> {{ likething }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 基本信息结束 -->


                <!-- 竞赛 -->
                <div class="arlo_tm_section" id="services">
                    <div class="arlo_tm_services_wrap">
                        <div class="container">
                            <div class="arlo_tm_title_holder">
                                <h3>竞赛</h3>
                                <span>参加过的比赛信息</span>
                            </div>
                            <div class="list_wrap">
                                <ul>
                                    <li>
                                        <div class="inner">
                                            <div class="title_service">
                                                <h3>IMUST迎春训练赛</h3>
                                            </div>
                                            <div class="text">
                                                <p>第1名</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 竞赛结束 -->

                <!-- 荣誉 -->
                <div class="arlo_tm_section relative" id="portfolio">
                    <div class="arlo_tm_portfolio_wrapper_all">
                        <div class="arlo_tm_second_portfolio">
                            <div class="container">
                                <div class="arlo_tm_portfolio_wrap">
                                    <div class="arlo_tm_title_holder portfolio">
                                        <h3>荣誉</h3>
                                        <span>获得的荣誉</span>
                                    </div>
                                    <div class="arlo_tm_portfolio_titles"></div>
                                    <ul class="arlo_tm_portfolio_filter">
                                        <li><a href="#" class="current" data-filter="*">所有</a></li>
                                        <li><a href="#" data-filter=".design">练习</a></li>
                                        <li><a href="#" data-filter=".photography">竞赛</a></li>
                                        <li><a href="#" data-filter=".development">其他</a></li>
                                    </ul>

                                    <!--design：练习
                                        photography:竞赛
                                    -->
                                    <ul class="arlo_tm_portfolio_list gallery_zoom">
                                        <li class="development">
                                            <div class="entry arlo_tm_portfolio_animation_wrap"
                                                 data-title="IMUST注册前100用户" data-category="⭐⭐⭐">
                                                <a href="#">
                                                    <img src="{% static 'persons/img/honor/600x600.jpg' %}" alt=""/>
                                                    <div class="arlo_tm_portfolio_image_main"
                                                         data-img-url="{% static 'persons/img/honor/imust100.png' %}"></div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="photography">
                                            <div class="entry arlo_tm_portfolio_animation_wrap"
                                                 data-title="取得过某一个竞赛的第一名" data-category="⭐⭐⭐⭐⭐">
                                                <a href="#">
                                                    <img src="{% static 'persons/img/honor/600x600.jpg' %}" alt=""/>
                                                    <div class="arlo_tm_portfolio_image_main" data-img-url="#"></div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="design">
                                            <div class="entry arlo_tm_portfolio_animation_wrap" data-title="通过100题"
                                                 data-category="⭐⭐⭐⭐">
                                                <a href="#">
                                                    <img src="{% static 'persons/img/honor/600x600.jpg' %}" alt=""/>
                                                    <div class="arlo_tm_portfolio_image_main" data-img-url="#"></div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 荣誉结束 -->

                <!-- 引言展板 -->
                <div class="arlo_tm_section" id="testimonials">
                    <div class="arlo_tm_testimonials_wrapper_all">
                        <div class="arlo_tm_universal_box_wrap">
                            <div class="bg_wrap">
                                <div class="overlay_image testimonial jarallax" data-speed="0"></div>
                                <div class="overlay_color testimonial"></div>
                            </div>
                            <div class="content testimonial">
                                <div class="arlo_tm_testimonial_wrap">
                                    <div class="container">
                                        <div class="carousel_wrap">
                                            <ul class="owl-carousel">
                                                <li class="item">
                                                    <div class="inner">
                                                        <div class="quotebox_wrap">
                                                            <i class="xcon-quote-left"></i>
                                                        </div>
                                                        <div class="definitions_wrap">
                                                            <p>“我们应该沉浸于知识和战斗，这样我们的孩子才能歌舞升平”</p>
                                                        </div>
                                                        <div class="name_holder">
                                                            <p>《少年班》</p>
                                                            <p>鼠标左右滑动试试</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item">
                                                    <div class="inner">
                                                        <div class="quotebox_wrap">
                                                            <i class="xcon-quote-left"></i>
                                                        </div>
                                                        <div class="definitions_wrap">
                                                            <p>“当命运需要你们逆风飞翔的时候，就不能随风而去”</p>
                                                        </div>
                                                        <div class="name_holder">
                                                            <p>《少年班》</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item">
                                                    <div class="inner">
                                                        <div class="quotebox_wrap">
                                                            <i class="xcon-quote-left"></i>
                                                        </div>
                                                        <div class="definitions_wrap">
                                                            <p>“于山于海，于水于滨，双木非林，田下有心，饮之以雨，炊之以薪，家中有女，马上无邻”</p>
                                                        </div>
                                                        <div class="name_holder">
                                                            <p>顾城</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 引言展板结束 -->
                <!-- 练习 -->
                <div class="arlo_tm_section" id="news">
                    <div class="container">
                        <div class="arlo_tm_counter_wrap" data-col="4" data-delay="300">
                            <ul class="arlo_tm_counter_list arlo_tm_miniboxes">
                                <li>
                                    <div class="inner arlo_tm_minibox">
                                        <h3><span><span class="arlo_tm_counter" data-from="0"
                                                        data-to="{{ questionData.0.1 }}"
                                                        data-speed="3000">0</span></span></h3>
                                        <span>提交数</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner arlo_tm_minibox">
                                        <h3><span><span class="arlo_tm_counter" data-from="0"
                                                        data-to="{{ questionData.0.0 }}"
                                                        data-speed="3000">0</span></span></h3>
                                        <span>解题数</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner arlo_tm_minibox">
                                        <h3><span>{{ rightRate }}</span></h3>
                                        <span>正答率</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner arlo_tm_minibox">
                                        <h3><span><span class="arlo_tm_counter" data-from="0" data-to="{{ imc }}"
                                                        data-speed="3000">0</span></span></h3>
                                        <span>IMC</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="arlo_tm_section">
                    <div class="arlo_tm_skills_wrap">
                        <div class="container">
                            <div class="inner_wrap">
                                <div class="rightbox">
                                    <div class="progress_bar_wrap_total">
                                        <div class="arlo_tm_progress_wrap" data-size="small" data-round="c"
                                             data-strip="off">
                                            <div class="arlo_tm_progress" data-value="0" data-color="#000">
                                                <span><span class="label">WEB - <span
                                                        class="experience">0 题</span></span><span
                                                        class="number">0%</span></span>
                                                <div class="arlo_tm_bar_bg">
                                                    <div class="arlo_tm_bar_wrap">
                                                        <div class="arlo_tm_bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="arlo_tm_progress" data-value="0" data-color="#000">
                                                <span><span class="label">Misc - <span
                                                        class="experience">0 题</span></span><span
                                                        class="number">0%</span></span>
                                                <div class="arlo_tm_bar_bg">
                                                    <div class="arlo_tm_bar_wrap">
                                                        <div class="arlo_tm_bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="arlo_tm_progress" data-value="0" data-color="#000">
                                                <span><span class="label">Crypto - <span
                                                        class="experience">0 题</span></span><span
                                                        class="number">0%</span></span>
                                                <div class="arlo_tm_bar_bg">
                                                    <div class="arlo_tm_bar_wrap">
                                                        <div class="arlo_tm_bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="arlo_tm_progress" data-value="0" data-color="#000">
                                                <span><span class="label">PWN - <span
                                                        class="experience">0 题</span></span><span
                                                        class="number">0%</span></span>
                                                <div class="arlo_tm_bar_bg">
                                                    <div class="arlo_tm_bar_wrap">
                                                        <div class="arlo_tm_bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="arlo_tm_progress" data-value="0" data-color="#000">
                                                <span><span class="label">RE - <span
                                                        class="experience">0 题</span></span><span
                                                        class="number">0%</span></span>
                                                <div class="arlo_tm_bar_bg">
                                                    <div class="arlo_tm_bar_wrap">
                                                        <div class="arlo_tm_bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--练习结束-->
            </div>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<script src="{% static 'persons/js/jqiii521.js' %}"></script>
<script src="{% static 'persons/js/plugins.js' %}"></script>

<!-- 将画像填入画框内 -->
<script src="{% static 'persons/js/init.js' %}"></script>

</body>
</html>
